option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    # Variables sensibles à définir dans la console AWS EB (Environnement > Configuration > Logiciel) :
    # MONGODB_URI: mongodb+srv://***:root@cluster0.cbl1wuk.mongodb.net/GSB-API-Rest-ExpressJS?retryWrites=true&w=majority&appName=Cluster0
    # JWT_SECRET: your_jwt_secret_key
    # JWT_EXPIRES_IN: 4h
    # CORS_ORIGIN: <url du frontend en production>
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
